.block {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid $grey_color;

  .block_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 0 1 15%;
  }

  .button_container {
    width: 224px;
    height: 41px;
  }

  &__title {
    @include textRoboto(20px, 400, 23px, $black_color);
  }
  &__name {
    @include textRoboto(16px, 400, 19px, $grey_color);
  }
  &__value {
    @include textRoboto(16px, 400, 19px, $black_color);
  }
  &__address_value {
    @include textRoboto(16px, 400, 19px, $black_color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
  }
  &__address {
    max-width: 200px;
  }
}
