.blocks {
  padding-bottom: 64px;
  &__content {
    height: 620px;
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(48, 58, 64, 0.1);
    border-radius: 8px;
    padding: 16px;
    overflow-y: auto;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
  }
}
