.create-page {
  background-color: $background_color;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 200px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }

  .button_container {
    width: 190px;
    height: 55px;
  }
}
